* {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
}

.jumbotron {
    color: lightblue;
}

#burger-pic {
    justify-content: center;
    width: 350px;
    height: 200px;
}

ul {
    list-style: none;
}

.list-btn {
    position: relative;
    float: right;
}

.container {
    justify-content: center;
}
